/*Color Variables*/
:root {
  --mainbg: #ffffff;
  --mainText: #000000;
  --mainColor: #0065fc;
  --secondaryColor: #deebff;
  --secondarybg: #f2f2f2;
}

/*General Styles*/
html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 30px 20px;
  margin: 0px;
  background-color: var(--mainbg);
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: var(--mainText);
}

ul,
li {
  list-style: none;
}

/*NavBar Mobile*/

.menu_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inscription {
  color: var(--mainColor);
  font-weight: 700;
}

.menu_2 {
  display: flex;
  justify-content: space-evenly;
  padding-right: 50px;
}

.nav-btn {
  padding: 25px 45px 20px 80px;
  border-bottom: 5px solid var(--secondarybg);
}

.menu_2 a:active,
.menu_2 a:hover {
  color: var(--mainColor);
}

.nav-btn:active,
.nav-btn:hover {
  border-bottom: 5px solid var(--mainColor);
}

/*Header*/

.title {
  margin-top: 35px;
  font-size: 22px;
}

.description {
  margin-bottom: 40px;
}

.searchbar {
  display: flex;
  justify-content: center;
  width: 100%;
  border: 1px solid var(--secondarybg);
}

input {
  width: inherit;
  border: none;
  padding: 18px;
}

i {
  padding: 18px;
}

.map-btn {
  display: inline-block;
  background-color: var(--secondarybg);
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.search-btn {
  display: inline-block;
  color: var(--mainbg);
  background-color: var(--mainColor);
  border-radius: 15px;
}
